.wutime_accblock_container {
	text-align:center;
}

.wutime_accblock_container div {

}

.wutime_accblock_container a {
	display:block;
	min-width:8em;
	white-space: nowrap;
	width:18%;
	float:left;

	padding:1em 1em 1em 1em;
	margin:.5em;
	color:white;
	text-align:center;
	background:green;
}

.wutime_accblock_container a.wutime_accblock_light {
	background:#3dad3d;
}

.wutime_accblock_container a:hover {
    background-color: #005a00;
}